<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
    <header>  <nav>
        <ul>
       <a href="HOME">HOME</a>
       <a href="ABOUT">ABOUT</a>
       <a href="CONTACT">CONTACT</a>
       <a href="SERVICE">SERVICE</a>
       <div class="box"> </div>
       <div class="box1">
        <h1><b>ABOUT</b></h1>
        <div class="box2"></div>
    
       <div class="box3"></div> 
       </div>

        </ul>
    </nav>
    </header>
    <div class="container">
        <div class="left">
            <h1>WHY GADGEON?</h1>
                <h4>GADGEON is a digital technology service provider enabling customer's digital journey with
             solutions using new-gen technologies. Our customers are able to focus on high impact business scale up 
            initiatives while the team from Gadgeon taking care of all engineering and operational activities.</h4>
    </div>

    </div>
</body>
</html>
