<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.component.css">
</head>
<body>
    <header>  <nav>
        <ul>
       <a href="HOME">HOME</a>
       <a href="ABOUT">ABOUT</a>
       <a href="CONTACT">CONTACT</a>
       <a href="SERVICE">SERVICE</a>
            

        </ul>
    </nav>
    <div class="boxx">
        <h1><b>CONTACT</b></h1></div>
    <div class="box"> </div>
        <div class="box1"></div>
        <div class="box2"></div>
    
    </header>
    <div class="container">
        <div class="left">
            <h1>CONTACT INFORMATIONS</h1>
            <h4>Gadgeon Smart Systems Pvt Limited<br>
                4.6<br>
                138 Google reviews<br>
                Software company in Kerala<br>
                Address: VI 405/E1, Fathima Tower, Maleppally Rd, Thrikkakara, Kakkanad, Kerala 682021
                Hours: 
                Open ⋅ Closes 6PM
                Phone: 097470 86688</h4>
        </div>
    </div>
    
    
</body>
</html>t
