<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="services.component.css">


</head>
<body>
    <header>  <nav>
        <ul>
       <a href="HOME">HOME</a>
       <a href="ABOUT">ABOUT</a>
       <a href="CONTACT">CONTACT</a>
       <a href="SERVICE">SERVICE</a>
            

        </ul>
    </nav>
    <div class="box"> </div>
    <div class="boxX">
        <h1><b>OFFERINGS OF GADGEON</b></h1></div>
    <div class="box1"></div>
    </header>
    <div class="container">
        <div class="left">
            
                <h4>PRODUCT ENGINEERING</h4>
                <h4>IOT ENGINEERING</h4>
                <h4>DIGITALISATION SERVICE</h4>
                <h4>TESTING SERVICE</h4>
                <h4>PROFESSIONAL SERVICE</h4>


    </div>

</div>    
</body>
</html>
